.loader-bg{
    position: fixed;
    z-index: 99999;
    background:#fff;
    width:100%;
    height:100%;
}
.loader{
    border: 0 solid transparent;
    border-radius:50%;
    width:150px;
    height:150px;
    position: absolute;
    top:calc(50vh-75px);
    left: calc(50vw -75px);
}
.loader:before, .loader:after{
    content:'';
    border:1em solid orangered;
    border-radius:50%;
    width:inherit;
    height: inherit;
    position:absolute;
    top:100px;
    left:435px;
    animation:loader 2s linear infinite;
    opacity:0;
}
.loader:before{
    animation-delay: 0.5s;
}

@keyframes loader{
    0%{
transform: scale(0);
opacity:0;
    }
    50%{
opacity:1;
    }
    100%{
        transform: scale(1);
        opacity: 0;

    }
}


h1 span{
    display:inline-block;
    animation:animate 1s linear infinite;
}
/* timer starts */

/* h1{ 
    color: #396; 
    font-weight: 100; 
    font-size: 40px; 
    margin: 40px 0px 20px; 
  }  */
   #clockdiv{ 
      
      position: relative;
      
      left:5px;
      /* font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
      color:orange; 
      display: inline-block; 
      font-weight: 100; 
      text-align: center; 
      font-size: 18px; 
  
  } 
  #clockdiv > div{ 
      
      padding: 10px; 
      border-radius: 3px; 
      /* background: orange;  */
      display: inline-block; 
      
      text-align: center; 
  
  } 
  #clockdiv div > span{ 
    background-position-x: center;
      padding: 10px; 
      height:30px;
      width:27px;
      border-radius: 3px; 
      background: rgba(0,0,0,0.9); 
      display: inline-block; 
      
      
      box-shadow:5px;
      text-align: center; 
  } 
  .smalltext{ 
      padding-top: 0px; 
      font-size: 10px; 
      position: relative;
      top:-15px;
  } 
/* timer ends */

.iconslast{
    height:27px;
    width:27px;
    display:flex;
    flex:horizontal;
    position: relative;
    margin-left:0px;
    margin-bottom: 5px;
    margin-top: 30px;
    z-index:1;
    
    
    
    }


.black5{
    padding-left: 200px;
    padding-top: 100px;
    width: 100%;
    height: 450px;
    background-color: rgba(0,0,0,0.8);
    /* filter:blur(4px); */
    display:flex;
    flex:horizontal;
    z-index:-1;
   color:whitesmoke;
   text-shadow: 10px;

   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
.black3{
    padding-left: 140px;
    padding-top: 40px;
    width: 100%;
    height: 2800px;
    background-color: rgba(0,0,0,0.8);
    /* filter:blur(4px); */

    z-index:-1;
    /* filter:blur(5px); */
    letter-spacing: 0.3em;
   
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
.black2{
    padding-left: 140px;
    padding-top: 40px;
    width: 100%;
    height: 1100px;
    background-color: rgba(0,0,0,0.8);
    /* filter:blur(4px); */
    
    z-index:-1;
    /* filter:blur(5px); */
   
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
.picture{
    width:190px;
    /* margin-top: 100px; */
    height:270px;
    background-color:white;
    position: relative; 
    top:100px;
    box-shadow: white;

}
.picture1{
    width:220px;
    /* margin-top: 100px; */
    height:220px;
    background-color:white;
    position: relative; 
    top:100px;
    box-shadow: white;

}

.flex{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.black1{
    padding-left: 140px;
    padding-top: 100px;
    width: 100%;
    height: 1100px;
    background-color: rgba(0,0,0,0.8);
    /* filter:blur(4px); */
    display:flex;
    flex:vertical;
    z-index:-1;
    /* filter:blur(5px); */
   
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.artist{
    position:center;
    font-size: 32px;
    margin-left:20%;
    color:wheat;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif,cursive
}
.watermark{
    position:center;
    opacity:0.2;
    font-size: 50px;
    color:white;
}
.content{
    width:400px;
    color:whitesmoke;
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 1.5 px;
}
.width{
    width: 20%;
    /* background-color:white; */
    color: whitesmoke;
    font-size:20px;
}
.underline{
    /* margin-top:100px; */
    border-radius: 5px;
    border-collapse: separate;
    border-left: 650px solid red;
    height: 2px;
    width:200px;
    
    margin-left:190px;
    top: 0;
    position: relative;
    display:flex;
    flex:horizontal;
  }
  .underlineb{
    margin-top:100px;
    border-radius: 5px;
    border-collapse: separate;
    border-left: 650px solid white;
    height: 2px;
    width:200px;
    
    margin-left:190px;
    top: 0;
    position: relative;
    display:flex;
    flex:horizontal;
  }
  .ver{
    position: relative;
    top:700px;
    border: 2px solid white;
    height: 500px;
    margin-left:0px;
     
  }

.black{
    padding-left: 240px;
    padding-top: 100px;
    width: 100%;
    height: 450px;
    background-color: rgba(0,0,0,0.8);
    /* filter:blur(4px); */
    display:flex;
    flex:horizontal;
    z-index:-1;
   
    font-family:"Jost", "Glacial Indifference", "Montserrat", "Open Sans", sans-serif
}
.overla {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background:black;
    background:rgba(0,0,0,0.8);

  
}
.menutext{
color:whitesmoke;
/* position:sticky; */
/* top:2.7%; */
z-index:3;
    position:fixed;
    left:91%;
bottom:94%;
font-size: 14px;
font-family:  "Jost", "Glacial Indifference", "Montserrat", "Open Sans", sans-serif;

}
.background{
    background-image: url('assets/images/p.jpg');
background-size:100% ;
height:6150px;
background-attachment: fixed;

}
.menu{
    position:fixed;
    left:94%;
bottom:92.5%;
max-width:9px;
z-index:3;
}
.aboutus{

background-color:bisque ;
height:300px;
opacity: 0;

}
.container{
    text-align: center;
    position: absolute;
    top:17%;
    left:50%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    transform: translate(-50%,-50%);
    width:100%;
}
.container1{
    text-align: center;
    position: absolute;
    top:30%;
 width:100%;
}
.container span{
    /* color:white; */
    text-transform: uppercase;
    display:block;
}
.text1{
    font-size: 60px;

    color:white;
    /* font-family: Righteous, cursive; */
    letter-spacing: 15px;
    font-weight:700;
    position: relative;
    top:-15px;
    margin-bottom: 25px;
    
    animation: text 3s ;
    
}
.text2{
    font-size: 19px;
   color:black;
    font-family:'Comic Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
     font-stretch: extra-expanded;
     font: bold;
     animation:fade 4s;
     position: relative;
     top:-15px;
     box-shadow: whitesmoke;
   /* font-family:  "Jost", "Glacial Indifference", "Montserrat", "Open Sans", sans-serif; */
}

#icon{
color:white;
margin-top:10px;
font-family:  "Jost", "Glacial Indifference", "Montserrat", "Open Sans", sans-serif;
margin-left:25px;
position: relative;
z-index:3;
}


#icons{
height:22px;
width:22px;
display:flex;
flex:vertical;
position: relative;
margin-left:20px;
margin-bottom: 5px;
z-index:1;
}
#sticky{
    position:sticky;
   top:400px;
   bottom: 40px;

}
.vl {
    border-radius: 5px;
    margin-top:240px;
    box-shadow: bisque;
    border-collapse: separate;
    border-left: 2px solid white;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }
  .vl1 {
    margin-top:10px;
    border-radius: 5px;
    border-collapse: separate;
    border-left: 1px solid white;
    height: 50px;
    position: absolute;
    margin-left:20px;
    top: 0;
    z-index:3;
  }



@keyframes text{
    0%{
color:black;
/* margin-bottom:-25px; */

    }
    30%{
        letter-spacing: 25px;
    margin-bottom:-5px;

    }
    85%{
letter-spacing: 10px;
margin-bottom:-5px;
    }
}




















#sticky.active{
    position: relative;
    left:2000px;
    background-color:brown
}
#sidebar
{
    right:-2000px;
    width:100%;
    height:100%;
    position:fixed;
        display:flex;
        flex-direction: row;
    background-color: rgba(0,0,0,0.9);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    color:wheat;
    z-index:2;
    transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#sidebar.active{
    right:0px;
}

#sidebar ul li{
    list-style:none ;
    position: relative;
    top:140px;
    left:100px;
    margin-top:7px;
    border-bottom: 1px,solid,white;
}

#sidebar ul li :hover
{
    list-style:none ;
    position: relative;
    top:140px;
    left:100px;
    margin-top:7px;
    border-bottom: 1px,solid,white;
}
.line
{
    position:relative;
    left:59%;
    width:2px;
    height:400px;
    background-color:wheat;
    margin-top:60px;
    border-left: 1px,solid,white;
}
.line1
{
    border-radius: 2px;
    position:relative;
    left:5%;
    padding-left: 3px;
    padding-right: 1px;
    color:whitesmoke;
    width:13px;
    height:300px;
    background-color:rgba(0,0,0,0.9);
    writing-mode: vertical-rl;
    text-orientation: upright;
    /* opacity: 0.2; */
}
.iconslast1{
    height:27px;
    
    width:27px;
    display:flex;
    flex:horizontal;
    justify-content:space-between;
    position: relative;
   top:400px;
   left:-45px;
    margin-top: 30px;

    z-index:1;
}

@keyframes fade{
from{
opacity: 0;
}
to{
opacity:1;
}

}

